# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Model weights (too large for git)
model/

# Training Output
lora-adapter/
runs/
output/
logs/

# Environment
.env
.venv
env/
venv/
ENV/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

results/
